*{
    background-color:white;
    color:black;
}

h5 {
    font-size: 1.5em;
}
.coin-card{
    float:left;
    width:25%;
}
.list-group-item{
    width:100%;
}
.h1{
    font-size:2em;
    text-align: center;
}
body{
    background-color:white;
    margin-left: 9rem;
}
.list-group-flush .list-group-item{
    background-color:white;
    height: 7vh;
}
.column{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    /* border: white solid 5px; */
    border-radius: 25%;
    width: 100%;
}
/* #positive{
    border-color:#9beb34;
}
#negative{
    border-color:#eb4034;
} */
.card{
    width: 20vw;
    display: inline-flex;
    margin-bottom: 1vh;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}

