{% extends "main/base.html" %}
{% block title %} 
General Data
{% endblock %}
{% block subtitle %} 
    <h1 class="h1">General data</h1> 
    <h3 class="h3"> This data is from the last {{timespan}} days - last update was on {{last_update}}</h3>
{% endblock %}
{% block form %}
<div class="form">
<form action="/data/search/" method="get">
    <div class="form-outline">
        <input type="search" class="form-control" id="form1" name="currency">
        <button class="form-label" for="datatable-search-input">Search</button>
    </div>
</form>
<a class="overview" href="/data/">back to overview</a>
</div>
{% endblock %}
{% block content %} 
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Currency</th>
                <th scope="col">Current_price</th>
                <th scope="col">Minimum</th>
                <th scope="col">Maximum</th>
                <th scope="col">Average</th>
                <th scope="col">Perc_coin_above_avg</th>
                <th scope="col">Perc_coin_beneath_avg</th>
                <th scope="col">avg_price_above_avg</th>
                <th scope="col">avg_price_beneath_avg</th>
            </tr>
            </thead>     
            <tbody>        
            <tr>
                <td scope='row'>{{coins.currency}}</td>
                <td>{{coins.current}}</td>
                <td>€{{coins.minimum}}</td>
                <td>€{{coins.maximum}}</td>
                <td>€{{coins.average}}</td>
                <td>{{coins.perc_above_avg}}%</td>
                <td>{{coins.perc_beneath_avg}}%</td>
                <td>€{{coins.avg_price_above_avg}}</td>
                <td>€{{coins.avg_price_beneath_avg}}</td>
            </tr>
            </tbody>
        </table>
{% endblock %}


