{% extends "main/base.html" %}
{% block title %} 
Overzicht
{% endblock %}
{% block subtitle %} <h1 class="h1">Overview of all your coins</h1> {% endblock %}
{% block content %} 
    {% for coin in coins %}
        <div class="card">           
            <div class="card-body">
                <h5 class="card-title">{{coin.currency}}</h5>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >Current price: €{{coin.current_price}}</li>
                    <li class="list-group-item" >Current Total: €{{coin.current_total_value}}</li>
                    <li class="list-group-item" >Amount: {{coin.amount}}</li>
                    <li class="list-group-item" >Total invested: €{{coin.total_invested}}</li>
                    <li class="list-group-item" >profit_ratio: {{coin.profit_ratio}}</li>
                    <li class="list-group-item" >VWAP: €{{coin.VWAP}}</li>
                    <li class="list-group-item" >Profitable purchase: {{coin.is_profitable_purchase}}</li>
                </ul>
            </div>
    {% endfor %}
{% endblock %}
{% block form %}
<form action="/overviewpost/" method="post">{%csrf_token%}
    <label for="api-key">api-key: </label>
    <input id="api-key" type="text" name="api-key" >
    <label for="api-key-secret">api-key-secret: </label>
    <input id="api-key-secret" type="text" name="api-key-secret" >
    <input type="submit" value="OK">
</form>
{% endblock %}
